openapi: 3.2.0
info:
  title: Gridshare Partner Prognoses API
  description: 'The Gridshare Partner API is Lunar Energy''s operator-facing surface for

    utilities, retailers, and DER aggregators managing residential

    distributed energy resources at fleet scale. Covers Sites, Devices,

    Telemetry, Operation Mode, Overlay Plans, Periodical Tariffs, Dynamic

    Tariffs, Flex Groups, Flex Events, Flex Dispatches, Prognoses with

    Diff Requests and Diff Orders, Counterfactuals, and on-site Visits.


    Authentication is OAuth 2.0 client-credentials against an Amazon Cognito

    user pool. Tokens expire after 1 hour and are sent as

    `Authorization: Bearer <access_token>` on every request.

    '
  version: v1.0
  contact:
    name: Lunar Energy
    url: https://www.gridshare.com
    email: developers@gridshare.com
  x-logo:
    url: https://www.lunarenergy.com/favicon.ico
servers:
- url: https://developer-api.partner.us.mygridshare.com
  description: Production server (US)
- url: https://developer-api.partner.mygridshare.com
  description: Production server (Rest of World)
- url: https://developer-api.partner.dev0.us.mygridshare.com
  description: Development server (US)
- url: https://developer-api.partner.dev0.mygridshare.com
  description: Development server (Rest of World)
security:
- bearerAuth: []
tags:
- name: Prognoses
  description: Forecasted aggregate power profiles for flex groups
paths:
  /api/v1/flexgroups/{flexGroupId}/prognoses:
    parameters:
    - $ref: '#/components/parameters/FlexGroupId'
    get:
      operationId: listPrognoses
      summary: List Prognoses
      description: 'List prognoses for a specific flex group. A new prognosis is generated

        when the group forecast changes due to prediction updates or

        explicit flex actions.

        '
      tags:
      - Prognoses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrognosisList'
components:
  schemas:
    Prognosis:
      type: object
      properties:
        prognosisId:
          type: string
        flexGroupId:
          type: string
        generatedAt:
          type: string
          format: date-time
        intervals:
          type: array
          items:
            type: object
            properties:
              start:
                type: string
                format: date-time
              end:
                type: string
                format: date-time
              power_W:
                type: number
    PrognosisList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Prognosis'
  parameters:
    FlexGroupId:
      in: path
      name: flexGroupId
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client-credentials access token obtained from the

        Gridshare partner Cognito authentication endpoint.

        '
