openapi: 3.2.0
info:
  title: Lunar Energy Operation Mode API
  version: v1.0
  contact:
    name: Lunar Energy
    url: https://www.gridshare.com
    email: developers@gridshare.com
  x-logo:
    url: https://www.lunarenergy.com/favicon.ico
  description: 'Operations tagged Operation Mode across 2 of this provider''s published API definitions: gridshare-customer-api-openapi.yml, gridshare-partner-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://developer-api.customer.mygridshare.com
  description: Production server
- url: https://developer-api.customer.dev0.mygridshare.com
  description: Development server
- url: https://developer-api.partner.us.mygridshare.com
  description: Production server (US)
- url: https://developer-api.partner.mygridshare.com
  description: Production server (Rest of World)
- url: https://developer-api.partner.dev0.us.mygridshare.com
  description: Development server (US)
- url: https://developer-api.partner.dev0.mygridshare.com
  description: Development server (Rest of World)
security:
- bearerAuth: []
tags:
- name: Operation Mode
  description: Read or change the Gridshare operation mode of a device
paths:
  /api/v2/devices/{synthId}/operationmode:
    parameters:
    - $ref: '#/components/parameters/SynthId'
    get:
      operationId: getDeviceOperationMode
      summary: Get Device Operation Mode
      description: 'Get the current Gridshare operation mode of a device. Valid modes:

        - `Simple` — follow the simplest plan possible for the device kind

        - `Schedule` — follow a periodical plan

        - `Smart` — AI-optimized smart plan

        - `Unknown` — operation mode cannot be determined

        '
      tags:
      - Operation Mode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationMode'
    put:
      operationId: setDeviceOperationMode
      summary: Change Device Operation Mode
      description: Set the Gridshare operation mode of a device.
      tags:
      - Operation Mode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationMode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationMode'
    servers:
    - url: https://developer-api.customer.mygridshare.com
      description: Production server
    - url: https://developer-api.customer.dev0.mygridshare.com
      description: Development server
  /api/v1/devices/{synthId}/operationmode:
    parameters:
    - $ref: '#/components/parameters/SynthId'
    get:
      operationId: getDeviceOperationMode
      summary: Get Device Operation Mode
      description: 'Get the current Gridshare operation mode of a device. Valid modes:

        - `Simple` — follow the simplest plan possible for the device kind

        - `Schedule` — follow a periodical plan

        - `Smart` — AI-optimized smart plan

        - `Unknown` — operation mode cannot be determined

        '
      tags:
      - Operation Mode
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationMode'
    put:
      operationId: setDeviceOperationMode
      summary: Change Device Operation Mode
      description: Set the Gridshare operation mode for a device.
      tags:
      - Operation Mode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationMode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationMode'
    servers:
    - url: https://developer-api.partner.us.mygridshare.com
      description: Production server (US)
    - url: https://developer-api.partner.mygridshare.com
      description: Production server (Rest of World)
    - url: https://developer-api.partner.dev0.us.mygridshare.com
      description: Development server (US)
    - url: https://developer-api.partner.dev0.mygridshare.com
      description: Development server (Rest of World)
components:
  parameters:
    SynthId:
      in: path
      name: synthId
      required: true
      schema:
        type: string
      description: A device ID or a sensor ID from the site topology.
  schemas:
    OperationMode:
      type: object
      required:
      - mode
      properties:
        mode:
          type: string
          enum:
          - Simple
          - Schedule
          - Smart
          - Unknown
  securitySchemes:
    bearerAuth:
      type: oauth2
      description: 'OAuth 2.0 Authorization Code flow against the lunar-customer

        Amazon Cognito user pool.

        '
      flows:
        authorizationCode:
          authorizationUrl: https://lunar-customer-prod-us-west-1.auth.us-west-1.amazoncognito.com/oauth2/authorize
          tokenUrl: https://lunar-customer-prod-us-west-1.auth.us-west-1.amazoncognito.com/oauth2/token
          refreshUrl: https://lunar-customer-prod-us-west-1.auth.us-west-1.amazoncognito.com/oauth2/token
          scopes:
            lunar/device.read: Read device metadata and telemetry (excluding plans)
            lunar/device.write: Modify devices including operation mode
            lunar/plan.read: Read existing device plans
            lunar/plan.write: Send plans to a device
x-refined-from:
- gridshare-customer-api-openapi.yml
- gridshare-partner-api-openapi.yml
