openapi: 3.2.0
info:
  title: Gridshare Partner Periodical Tariffs API
  description: 'The Gridshare Partner API is Lunar Energy''s operator-facing surface for

    utilities, retailers, and DER aggregators managing residential

    distributed energy resources at fleet scale. Covers Sites, Devices,

    Telemetry, Operation Mode, Overlay Plans, Periodical Tariffs, Dynamic

    Tariffs, Flex Groups, Flex Events, Flex Dispatches, Prognoses with

    Diff Requests and Diff Orders, Counterfactuals, and on-site Visits.


    Authentication is OAuth 2.0 client-credentials against an Amazon Cognito

    user pool. Tokens expire after 1 hour and are sent as

    `Authorization: Bearer <access_token>` on every request.

    '
  version: v1.0
  contact:
    name: Lunar Energy
    url: https://www.gridshare.com
    email: developers@gridshare.com
  x-logo:
    url: https://www.lunarenergy.com/favicon.ico
servers:
- url: https://developer-api.partner.us.mygridshare.com
  description: Production server (US)
- url: https://developer-api.partner.mygridshare.com
  description: Production server (Rest of World)
- url: https://developer-api.partner.dev0.us.mygridshare.com
  description: Development server (US)
- url: https://developer-api.partner.dev0.mygridshare.com
  description: Development server (Rest of World)
security:
- bearerAuth: []
tags:
- name: Periodical Tariffs
  description: Manage periodical (recurring) tariffs
paths:
  /api/v1/periodicaltariffs:
    get:
      operationId: listPeriodicalTariffs
      summary: List Periodical Tariffs
      description: List all periodical tariffs.
      tags:
      - Periodical Tariffs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodicalTariffList'
    post:
      operationId: createPeriodicalTariff
      summary: Create Periodical Tariff
      tags:
      - Periodical Tariffs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodicalTariff'
      responses:
        '201':
          description: Created
  /api/v1/periodicaltariffs/{tariffId}:
    parameters:
    - $ref: '#/components/parameters/TariffId'
    get:
      operationId: getPeriodicalTariff
      summary: Get Periodical Tariff
      tags:
      - Periodical Tariffs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PeriodicalTariff'
    patch:
      operationId: updatePeriodicalTariff
      summary: Update Periodical Tariff
      description: 'Update properties of an existing periodical tariff. Append or

        rewrite pricing periods. Tariffs may have an open-ended latest

        period; PATCH-ing in a later period closes it automatically.

        '
      tags:
      - Periodical Tariffs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PeriodicalTariff'
      responses:
        '200':
          description: OK
components:
  schemas:
    PeriodicalTariff:
      type: object
      required:
      - name
      - companyName
      properties:
        tariffId:
          type: string
        name:
          type: string
        companyName:
          type: string
        currency:
          type: string
        pricingPeriods:
          type: array
          items:
            $ref: '#/components/schemas/PricingPeriod'
    PeriodicalTariffList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/PeriodicalTariff'
    PricingPeriod:
      type: object
      properties:
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        rates:
          type: array
          items:
            type: object
            properties:
              dayOfWeek:
                type: string
              from:
                type: string
              to:
                type: string
              price:
                type: number
        exceptions:
          type: array
          items:
            $ref: '#/components/schemas/TariffExceptionPeriod'
    TariffExceptionPeriod:
      type: object
      properties:
        start:
          type: string
          format: date
        end:
          type: string
          format: date
        rate:
          type: number
  parameters:
    TariffId:
      in: path
      name: tariffId
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client-credentials access token obtained from the

        Gridshare partner Cognito authentication endpoint.

        '
