openapi: 3.2.0
info:
  title: Gridshare Partner Visits API
  description: 'The Gridshare Partner API is Lunar Energy''s operator-facing surface for

    utilities, retailers, and DER aggregators managing residential

    distributed energy resources at fleet scale. Covers Sites, Devices,

    Telemetry, Operation Mode, Overlay Plans, Periodical Tariffs, Dynamic

    Tariffs, Flex Groups, Flex Events, Flex Dispatches, Prognoses with

    Diff Requests and Diff Orders, Counterfactuals, and on-site Visits.


    Authentication is OAuth 2.0 client-credentials against an Amazon Cognito

    user pool. Tokens expire after 1 hour and are sent as

    `Authorization: Bearer <access_token>` on every request.

    '
  version: v1.0
  contact:
    name: Lunar Energy
    url: https://www.gridshare.com
    email: developers@gridshare.com
  x-logo:
    url: https://www.lunarenergy.com/favicon.ico
servers:
- url: https://developer-api.partner.us.mygridshare.com
  description: Production server (US)
- url: https://developer-api.partner.mygridshare.com
  description: Production server (Rest of World)
- url: https://developer-api.partner.dev0.us.mygridshare.com
  description: Development server (US)
- url: https://developer-api.partner.dev0.mygridshare.com
  description: Development server (Rest of World)
security:
- bearerAuth: []
tags:
- name: Visits
  description: Record on-site visits for installation or service
paths:
  /api/v1/visits:
    get:
      operationId: listVisits
      summary: List Visits
      tags:
      - Visits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitList'
    post:
      operationId: createVisit
      summary: Create Visit
      tags:
      - Visits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Visit'
      responses:
        '201':
          description: Created
  /api/v1/visits/{visitId}:
    parameters:
    - in: path
      name: visitId
      required: true
      schema:
        type: string
    get:
      operationId: getVisit
      summary: Get Visit
      tags:
      - Visits
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Visit'
components:
  schemas:
    VisitList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Visit'
    Visit:
      type: object
      properties:
        visitId:
          type: string
        siteId:
          type: string
        type:
          type: string
        scheduledAt:
          type: string
          format: date-time
        completedAt:
          type: string
          format: date-time
        notes:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client-credentials access token obtained from the

        Gridshare partner Cognito authentication endpoint.

        '
