openapi: 3.2.0
info:
  title: Gridshare Partner Flex Groups API
  description: 'The Gridshare Partner API is Lunar Energy''s operator-facing surface for

    utilities, retailers, and DER aggregators managing residential

    distributed energy resources at fleet scale. Covers Sites, Devices,

    Telemetry, Operation Mode, Overlay Plans, Periodical Tariffs, Dynamic

    Tariffs, Flex Groups, Flex Events, Flex Dispatches, Prognoses with

    Diff Requests and Diff Orders, Counterfactuals, and on-site Visits.


    Authentication is OAuth 2.0 client-credentials against an Amazon Cognito

    user pool. Tokens expire after 1 hour and are sent as

    `Authorization: Bearer <access_token>` on every request.

    '
  version: v1.0
  contact:
    name: Lunar Energy
    url: https://www.gridshare.com
    email: developers@gridshare.com
  x-logo:
    url: https://www.lunarenergy.com/favicon.ico
servers:
- url: https://developer-api.partner.us.mygridshare.com
  description: Production server (US)
- url: https://developer-api.partner.mygridshare.com
  description: Production server (Rest of World)
- url: https://developer-api.partner.dev0.us.mygridshare.com
  description: Development server (US)
- url: https://developer-api.partner.dev0.mygridshare.com
  description: Development server (Rest of World)
security:
- bearerAuth: []
tags:
- name: Flex Groups
  description: Define and manage groups of DERs participating in flex programs
paths:
  /api/v1/flexgroups:
    get:
      operationId: listFlexGroups
      summary: List Flex Groups
      tags:
      - Flex Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexGroupList'
    post:
      operationId: createFlexGroup
      summary: Create Flex Group
      tags:
      - Flex Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FlexGroup'
      responses:
        '201':
          description: Created
  /api/v1/flexgroups/{flexGroupId}:
    parameters:
    - $ref: '#/components/parameters/FlexGroupId'
    get:
      operationId: getFlexGroup
      summary: Get Flex Group
      tags:
      - Flex Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlexGroup'
  /api/v1/flexgroups/{flexGroupId}/participants:
    parameters:
    - $ref: '#/components/parameters/FlexGroupId'
    get:
      operationId: listFlexGroupParticipants
      summary: List Flex Group Participants
      tags:
      - Flex Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ParticipantList'
    post:
      operationId: addFlexGroupParticipant
      summary: Add Flex Group Participant
      tags:
      - Flex Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Participant'
      responses:
        '201':
          description: Created
  /api/v1/flexgroups/{flexGroupId}/participants/{participantId}:
    parameters:
    - $ref: '#/components/parameters/FlexGroupId'
    - $ref: '#/components/parameters/ParticipantId'
    get:
      operationId: getFlexGroupParticipant
      summary: Get Flex Group Participant
      tags:
      - Flex Groups
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Participant'
    delete:
      operationId: deleteFlexGroupParticipant
      summary: Delete Flex Group Participant
      tags:
      - Flex Groups
      responses:
        '204':
          description: Deleted
  /api/v1/flexgroups/{flexGroupId}/participants/bulk:
    parameters:
    - $ref: '#/components/parameters/FlexGroupId'
    post:
      operationId: createBulkParticipantsAction
      summary: Create Bulk Participants Action
      description: 'Overwrite the participants of a flex group by sending a full

        replacement list. This action is irreversible.

        '
      tags:
      - Flex Groups
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantList'
      responses:
        '202':
          description: Accepted
  /api/v1/flexgroups/{flexGroupId}/participants/bulk/{bulkId}:
    parameters:
    - $ref: '#/components/parameters/FlexGroupId'
    - in: path
      name: bulkId
      required: true
      schema:
        type: string
    get:
      operationId: getBulkParticipantsAction
      summary: Get Bulk Participants Action
      description: Retrieve the status of a bulk participants update.
      tags:
      - Flex Groups
      responses:
        '200':
          description: OK
components:
  schemas:
    FlexGroupList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/FlexGroup'
    FlexGroup:
      type: object
      properties:
        flexGroupId:
          type: string
        name:
          type: string
        description:
          type: string
        settlementPoint:
          type: string
    Participant:
      type: object
      properties:
        participantId:
          type: string
        siteId:
          type: string
        deviceIds:
          type: array
          items:
            type: string
    ParticipantList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Participant'
  parameters:
    ParticipantId:
      in: path
      name: participantId
      required: true
      schema:
        type: string
    FlexGroupId:
      in: path
      name: flexGroupId
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client-credentials access token obtained from the

        Gridshare partner Cognito authentication endpoint.

        '
