openapi: 3.2.0
info:
  title: Gridshare Partner Dynamic Tariffs API
  description: 'The Gridshare Partner API is Lunar Energy''s operator-facing surface for

    utilities, retailers, and DER aggregators managing residential

    distributed energy resources at fleet scale.'
  version: v1.0
  contact:
    name: Lunar Energy
    url: https://www.gridshare.com
    email: developers@gridshare.com
  x-logo:
    url: https://www.lunarenergy.com/favicon.ico
servers:
- url: https://developer-api.partner.us.mygridshare.com
  description: Production server (US)
- url: https://developer-api.partner.mygridshare.com
  description: Production server (Rest of World)
- url: https://developer-api.partner.dev0.us.mygridshare.com
  description: Development server (US)
- url: https://developer-api.partner.dev0.mygridshare.com
  description: Development server (Rest of World)
security:
- bearerAuth: []
tags:
- name: Dynamic Tariffs
  description: Manage dynamic time-series tariffs with 7-day pagination
paths:
  /api/v1/dynamictariffs:
    get:
      operationId: listDynamicTariffs
      summary: List Dynamic Tariffs
      description: List all dynamic tariffs for the calling partner account.
      tags:
      - Dynamic Tariffs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicTariffList'
    post:
      operationId: createDynamicTariff
      summary: Create Dynamic Tariff
      description: Create a dynamic tariff with an optional initial set of timeseries values.
      tags:
      - Dynamic Tariffs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicTariff'
      responses:
        '201':
          description: Created
  /api/v1/dynamictariffs/{tariffId}:
    parameters:
    - $ref: '#/components/parameters/TariffId'
    get:
      operationId: getDynamicTariff
      summary: Get Dynamic Tariff
      description: 'Return metadata for a dynamic tariff together with a single page of

        timeseries values covering a 7-day window. Paginate via `nextToken`.'
      tags:
      - Dynamic Tariffs
      parameters:
      - in: query
        name: interval
        schema:
          type: string
      - in: query
        name: nextToken
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DynamicTariff'
    patch:
      operationId: updateDynamicTariff
      summary: Update Dynamic Tariff
      description: Append or override periods of a dynamic tariff. Existing values are not deleted.
      tags:
      - Dynamic Tariffs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DynamicTariff'
      responses:
        '200':
          description: OK
components:
  parameters:
    TariffId:
      in: path
      name: tariffId
      required: true
      schema:
        type: string
  schemas:
    DynamicTariff:
      type: object
      properties:
        tariffId:
          type: string
        name:
          type: string
        currency:
          type: string
        values:
          type: array
          items:
            $ref: '#/components/schemas/DynamicTariffValue'
        nextToken:
          type: string
    DynamicTariffValue:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        price:
          type: number
    DynamicTariffList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/DynamicTariff'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'OAuth 2.0 client-credentials access token obtained from the

        Gridshare partner Cognito authentication endpoint.

        '
